<div id="wrapper">
	<main id="main" class="main-content clearfix">
		<div class="edgbanner clearfix">
			<div class="flex-row container">
				<div class="col-md-3 float-left">
					<div class="thumbnail">
						<a href="#">
							<%= image_tag "banner/banner3.png" %>
						</a>
					</div>
				</div>
				<div class="col-md-3 float-left">
					<div class="thumbnail">
						<a href="#">
							<%= image_tag "banner/banner3.png" %>
						</a>
					</div>
				</div>
				<div class="col-md-3 float-left">
					<div class="thumbnail">
						<a href="#">
							<%= image_tag "banner/banner3.png" %>
						</a>
					</div>
				</div>
				<div class="col-md-3 float-left">
					<div class="thumbnail">
						<a href="#">
							<%= image_tag "banner/banner3.png" %>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-row container">
			<div class="group-product col-md-12">
				<div class="group-product-box">
					<div class="group-product-title">
						<span class="tikicon icon-hot-deal-icon"></span>
						<div>
							<h3 class="title deal">Tiki Deal</h3>
							<p class="description">Cập nhật hàng giờ tất cả những deal giảm giá đặc biệt trên Tiki. Hãy bookmark trang này và quay lại thường xuyên để không bỏ lỡ bạn nhé!</p>
						</div>
					</div>
					<div class="group-product-content">
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="red-more">
						<a href="#">Xem thêm</a>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-row container">
			<div class="interesting-industry">
				<div class="col-md-12 industry-box">
					<div class="industry-title">
						<h4>NGÀNH HÀNG QUAN TÂM</h4>
					</div>
					<div class="industry-content">
						<div class="owl-carousel owl-industry">
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Nhà Sách Tiki</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Đồ Chơi - Mẹ & Bé</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Bách Hóa Online</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Làm Đẹp - Sức Khỏe</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Hàng Quốc Tế</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Điện Gia Dụng</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="industry-thumbnail">
									<a href="#">
										<div class="image">
											<%= image_tag "product/in6.png" %>
										</div>
										<p>Nhà Sách Tiki</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-row container">
			<div class="key-hot">
				<div class="col-md-12 key-hot-box">
					<div class="key-hot-title">
						<h4>TỪ KHÓA HOT</h4>
					</div>
					<div class="key-hot-content">
						<div class="owl-carousel owl-hot">
							<div class="item">
								<div class="keyword">
									<a class="color-1" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-2" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-3" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-4" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-1" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-2" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-3" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-4" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
							<div class="item">
								<div class="keyword">
									<a class="color-4" href="#">
										<p>bitis hunter</p>
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex-row container">
			<div class="group-product col-md-12">
				<div class="group-product-box">
					<div class="group-product-title">
						<span class="tikicon icon-hot-deal-icon"></span>
						<div>
							<h3 class="title deal">DÀNH RIÊNG CHO BẠN</h3>
							<p class="description">Cập nhật hàng giờ tất cả những deal giảm giá đặc biệt trên Tiki. Hãy bookmark trang này và quay lại thường xuyên để không bỏ lỡ bạn nhé!</p>
						</div>
					</div>
					<div class="group-product-content">
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
						<div class="item">
							<a href="#">
								<span class="percent deal">-60%</span>
								<div class="item-thumbnail">
									<%= image_tag "product/product5.jpg" %>
								</div>
								<div class="product-item-name">
									<p class="title" style="height: 40px;"><i class="icon tikinow-15"></i>Sổ Tay Từ Vựng 120 Trang (7.6 x 13) - Mẫu Ngẫu Nhiên</p>
									<p class="price">11.000 ₫
										<span class="original deal">27.000 ₫</span>
									</p>
								</div>
							</a>
						</div>
					</div>
					<div class="red-more">
						<a href="#">Xem thêm</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
