<div class="breadcrumb-wrap">
  <div class="container">
    <div class="row">
      <ul class="breadcrumb">
        <li>
          <a href="#">Trang chủ <i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#">
            <span>Điện Thoại - Máy Tính Bảng</span> <i class="fa fa-angle-double-right" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <span>Iphone XS MAX</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<main id="main" class="main-content">
  <div class="shopping-cart clearfix">
    <div class="flex-row container">
      <div id="cart-content">
        <h5 class="shopping-title"><%= t(".cart") %> <span>(<%= current_order.product_orders.count %> <%= t(".product") %>)</span>
        </h5>
        <% if current_order.product_orders.presence %>
          <div class="col-md-9 pl-0 float-left">
            <div id="product-order-form">
              <div class="scroll-cart">
                <%= render "product_orders/form" %>
              </div>
            </div>
          </div>
          <div class="col-md-3 float-left">
            <div class="info-billing">
              <%= render "product_orders/info_billing" %>
            </div>
          </div>
        <% else %>
          <%= render "product_orders/empty_cart" %>
        <% end %>
      </div>
    </div>
  </div>
</main>
