<div class="col-md-6 pl-0 float-left">
  <div class="checkout-add-form">
    <div class="checkout-content-customer">
      <p class="name"><%= address.user.name %></p>
      <span class="default"><%= t(".default") %></span>
      <p class="address">
        <%= address.address %>
      </p>
      <p class="address"><%= address.country %></p>
      <p class="phone"><%= t(".phone") %>: <%= address.phone %></p>
      <%= link_to checkouts_path(address_id: address.id) do %>
        <%= button_tag t(".deliver"), class: "btn-saving-address" %>
      <% end %>
      <%= link_to edit_address_path(address), remote: true do %>
        <%= button_tag t(".edit"), class: "btn-edit-address" %>
      <% end %>
    </div>
  </div>
</div>
