<div class="col-md-6 pl-0 float-left">
  <div class="checkout-add-form">
    <div class="checkout-content-customer default">
      <p class="name"><%= address.user.name %></p>
      <p class="address" title="Kiến Hưng, Quận Hà đông, TP Hà Nội">
        <%= address.address %>
      </p>
      <p class="address"><%= address.country %></p>
      <p class="phone">Điện thoại: <%= address.phone %></p>
      <button type="button" class="btn-saving-address btn-default">
        Giao đến địa chỉ này
      </button>
      <%= link_to edit_address_path(address), remote: true do %>
        <%= button_tag "Sửa", class: "btn-edit-address" %>
      <% end %>
      <%= link_to address_path(address), method: :delete, data: {confirm: "Delete?"}, remote: true do %>
        <%= button_tag "Xóa", class: "btn-edit-address" %>
      <% end %>
    </div>
  </div>
</div>
