<main id="main" class="main-content">
  <div class="payment clearfix">
    <div class="flex-row container">
      <div class="col-md-9 float-left">
        <div class="Information-line-product bg-white pd-20">
          <div class="information">
            <table>
              <tr>
                <th><%= t(".product") %></th>
                <th><%= t(".price") %></th>
                <th><%= t(".quantity") %></th>
                <th><%= t(".subtotal") %></th>
              </tr>
              <%= render partial: "checkout_item", collection: current_order.product_orders, as: :product_order %>
            </table>
          </div>
        </div>
        <div class="col-lg-6">
          <%= link_to checkout_path(current_order), method: :patch do %>
            <%= button_tag t(".checkout"), class: "btn btn-block btn-default btn-checkout", id: "btn-ordered" %>
          <% end %>
        </div>
      </div>
      <div class="col-md-3 float-left">
        <div class="payments-address">
          <div class="payments-sidebar-content">
            <div class="payments-sidebar-title">
              <span class="title">
                <%= t(".address") %>
              </span>
              <a href="#" class="btn btn-default"><%= t(".edit") %></a>
            </div>
            <div class="information">
              <h6><%= @address.user.name %></h6>
              <p class="end"><%= @address.address %><br><%= @address.country %><br><%= t(".phone") %>: <%= @address.phone %></p>
            </div>
          </div>
        </div>
        <div class="sidebar-payments-info">
          <div class="payments-sidebar-content">
            <div class="payments-sidebar-title">
              <span class="title">
                <%= t(".phone") %>
              </span>
              <a href="#" class="btn btn-default"><%= t(".edit") %></a>
            </div>
            <div class="information">
              <p class="left"><%= t(".quantity") %></p>
              <p class="float-right"><%= current_order.total_quantity %> <%= t(".product") %></p>
            </div>
            <div class="information">
              <p class="left"><%= t(".subtotal") %>:</p>
              <p class="float-right"><%= number_to_currency_br(current_order.subtotal) %></p>
              <br>
            </div>
            <div class="information">
              <p class="left"><strong><%= t(".grand_total") %>:</strong></p>
              <p class="float-right">
                <strong style="color: #ee2347; font-size: 16px;"><%= number_to_currency_br(current_order.subtotal) %></strong>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
