<main id="main" class="main-content">
  <div class="flex-row container">
    <div class="checkout-info-customer clearfix">
      <h3> 1. <%= t(".billing_add") %></h3>
      <h5>
        <%= t(".available_add") %>:
      </h5>
      <div id="address-list">
        <%= render "addresses_list" %>
      </div>
    </div>
    <p class="other col-md-12">
      <%= t(".other_add") %>
      <%= link_to t(".add_new"), new_address_path, id: "addNewAddress", remote: true %>
    </p>
  </div>
</main>
<div id="exampleModal01"></div>
<div id="exampleModal02"></div>
