<footer class="footer-wapper">
	<div class="footer-infomation clearfix">
		<div class="flex-row container">
			<div class="col-md-12 footer-infomation-content">
				<div class="footer-item">
					<h3>HỖ TRỢ KHÁCH HÀNG</h3>
					<p class="hotline">Hotline đặt hàng: 
						<a href="tel:1800-6963">1800-6963</a><br>
						<span class="small-text">(Miễn phí , 8-21h kể cả T7, CN)</span>
					</p>
					<p class="hotline">Hotline đặt hàng: 
						<a href="tel:1800-6963">1800-6963</a><br>
						<span class="small-text">(Miễn phí , 8-21h kể cả T7, CN)</span>
					</p>
					<ul class="footer-menu">
						<li>
							<a href="#">Các câu hỏi thường gặp</a>
						</li>
						<li>
							<a href="#">Gửi yêu cầu hỗ trợ</a>
						</li>
						<li>
							<a href="#">Hướng dẫn đặt hàng</a>
						</li>
						<li>
							<a href="#">Phương thức vận chuyển</a>
						</li>
						<li>
							<a href="#">Chính sách đổi trả</a>
						</li>
						<li>
							<a href="#">Hướng dẫn mua trả góp</a>
						</li>
						<li>
							<a href="#">Chính sách hàng nhập khẩu</a>
						</li>
					</ul>
				</div>
				<div class="footer-item">
					<h3>VỀ SUN FOOD</h3>
					<ul class="footer-menu">
						<li>
							<a href="#">Giới thiệu SUNFOOD</a>
						</li>
						<li>
							<a href="#">Tuyển Dụng</a>
						</li>
						<li>
							<a href="#">Chính sách bảo mật thanh toán</a>
						</li>
						<li>
							<a href="#">Chính sách bảo mật thông tin cá nhân</a>
						</li>
						<li>
							<a href="#">Điều khoản sử dụng</a>
						</li>
						<li>
							<a href="#">Hội Sách Online</a>
						</li>
						<li>
							<a href="#">Tư vấn</a>
						</li>
						<li>
							<a href="#">Bán hàng doanh nghiệp</a>
						</li>
					</ul>
				</div>
				<div class="footer-item">
					<h3>HỢP TÁC VÀ LIÊN KẾT</h3>
					<ul class="footer-menu">
						<li>
							<a href="#">Quy chế hoạt động Sàn GDTMĐT</a>
						</li>
						<li>
							<a href="#">Bán hàng cùng SUNFOOD</a>
						</li>
					</ul>
				</div>
				<div class="footer-item">
					<h3>PHƯƠNG THỨC THANH TOÁN</h3>
					<p>
						<%= image_tag "visa.svg" , class: "icon" %>
						<%= image_tag "mastercard.svg" , class: "icon" %>
						<%= image_tag "jcb.svg" , class: "icon" %>
						<%= image_tag "cash.svg" , class: "icon" %>
						<%= image_tag "internet-banking.svg" , class: "icon" %>
						<%= image_tag "installment.svg" , class: "icon" %>
					</p>
				</div>
				<div class="footer-item">
					<h3>KẾT NỐI VỚI CHÚNG TÔI</h3>
					<p>
						<%= image_tag "fb.svg" , class: "icon" %>
						<%= image_tag "youtube.svg" , class: "icon" %>
					</p>
					<h4 class="store-title">TẢI ỨNG DỤNG TRÊN ĐIỆN THOẠI</h4>
					<p>
						<%= image_tag "appstore.png" , class: "store icon" %>
						<%= image_tag "appstore.png" , class: "store icon" %>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-copyright clearfix">
		<div class="flex-row container">
			<div class="footer-copyright-content">
				<div class="col-md-10 float-left">
					<h5>© 2016 - Bản quyền của Công Ty Cổ Phần Ti Ki - Tiki.vn</h5>
					<p>Giấy chứng nhận Đăng ký Kinh doanh số 0309532909 do Sở Kế hoạch và Đầu tư Thành phố Hồ Chí Minh cấp ngày 06/01/2010</p>
				</div>
				<div class="col-md-2 float-left">
					<a href="#">
						<%= image_tag "bo-cong-thuong.svg" %>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
