<div class="popup login-form-modal" data-popup="popup-1">
  <div class="popup-inner">
    <div class="modal-body">
      <div class="content-left">
        <h2><%= t(".signin") %></h2>
        <p><%= t(".comment1") %> <br><%= t(".comment2") %><br> <%= t(".comment3") %></p>
        <%= image_tag "/assets/login.png"%>
      </div>
      <div class="content-right">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true"><%= t(".signin") %></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="signin-tab" data-toggle="tab" href="#signin" role="tab" aria-controls="signin" aria-selected="false"><%= t(".create_acc") %>
            </a>
          </li>
        </ul>
        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <%= form_for User.new, url:{controller: :"devise/sessions", action: :create}, :html => {class: "content-popup-form"}  do |f| %>
              <div class="login_popup_email">
                <%= f.label :email, t(".email_popup"), class: "control-label" %>
                <%= f.text_field :email, placeholder: t(".placeholder1"), class: "form-control login" %>
              </div>
              <div class="password_popup">
                <%= f.label :password, t(".password_popup"), class: "control-label" %>
                <%= f.password_field :password, placeholder: t(".placeholder2"), class: "form-control login" %>
              </div>
              <div class="form-group">
                <p class="reset"><%= t(".forgot_password") %>
                  <a data-toggle="modal" data-target="#reset-password-form" href="#"><%= t(".here") %></a>
                </p>
              </div>
              <div class="form-group btn-login social">
                <%= f.submit t(".signin"), class: "btn" %>
              </div>
            <% end %>
            <div class="form-group social">
              <%= link_to user_facebook_omniauth_authorize_path, class: "facebook-login" do %>
                <span class="facebook-icon">
                  <i class="tikicon icon-facebook-white"></i>
                </span>
                <%= t(".signin_facebook") %>
              <% end %>
              <%= link_to user_google_oauth2_omniauth_authorize_path, class: "google-login" do %>
                <span class="google-icon">
                  <i class="tikicon icon-google-white"></i>
                </span>
                <%= t(".signin_google") %>
              <% end %>
            </div>
          </div>
          <div class="tab-pane fade" id="signin" role="tabpanel" aria-labelledby="profile-tab">

            <%= form_for User.new, url:{controller: :"devise/registrations", action: :create}, method: :post, :html => {class: "content-popup-form"} do |f| %>
              <div class="sign-in-popup">
                <%= f.label :name,t(".name"), class: "control-label" %>
                <%= f.text_field :name, placeholder: t(".name_holder"), class: "form-control login" %>
                <%= f.label :phone, t(".phone"), class: "control-label" %>
                <%= f.number_field :phone, placeholder: t(".phone_holder"), class: "form-control login" %>
                <%= f.label :email, t(".email"), class: "control-label" %>
                <%= f.email_field :email, placeholder: t(".email_holder"), class: "form-control login" %>
                <%= f.label :password, t(".password"), class: "control-label" %>
                <%= f.password_field :password, placeholder: t(".password_holder"), class: "form-control login" %>
                <%= f.label :password_confirmation, t(".passconfirm"), class: "control-label" %>
                <%= f.password_field :password_confirmation, placeholder: t(".passconfirm_holder"), class: "form-control login" %>
                <div class="sign-in-ntn social">
                  <%= f.submit t(".create_acc"), class: "btn-signup" %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <a class="popup-close" data-popup-close="popup-1" href="#">x</a>
  </div>
</div>
<!------------- pop up address  ---------------->
<div class="popup login-form-modal" data-popup="popup-2">
  <div class="popup-inner">
    <div class="modal-body">
      <div class="content-left">
        <h2><%= t(".signin") %></h2>
        <p><%= t(".comment1") %> <br><%= t(".comment2") %><br> <%= t(".comment3") %></p>
        <%= image_tag "/assets/login.png" %>
      </div>
    </div>
    <a class="popup-close" data-popup-close="popup-2" href="#">x</a>
  </div>
</div>
